.steps {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 12px;
}

.step {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 48px;
	height: 48px;

	background-color: #393F6E;
	border-radius: 50%;

	font-size: 1.25rem;
}

.step-taken {
	background: linear-gradient(#E65895, #BC6BE8);
}