@import './styles/reset.css';

:root {
  font-family: Be Vietnam Pro;
  line-height: 1.5;
  font-weight: 400;

  color: #E2E4F3;
}

body {
  background: center center / cover no-repeat url(/bg.jpg);
  height: 100vh;
  overflow-x: hidden;
  background-color: #272c54;
}